
%flex-row{
  display: flex;
  flex-direction: row;
}

%flex-column{
  display: flex;
  flex-direction: column;
}

body {
  padding: 0;
  margin: 0;
  @extend %flex-column;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

button{
      padding: 0.5rem 1rem;
      margin-top: 1rem;
      border-radius: 0.25rem;
      border: none;
      &:hover{
        background: rgb(230, 230, 230);
      }
}

input{
  padding: 0.5rem;
  border-radius: 0.25rem;
  // border: none;
}

#content {
  height: 30rem;
  width: 100%;
  background: rgb(189, 171, 171);
  @extend %flex-row;
}

#img-wrapper{
  position: relative;
  height: 32rem;
  min-width: 24rem;
  background: blue;
overflow: hidden;
  
  #img-ref{
    height: 100%;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

#map {
  height: 30rem;
  width: 100%;
}

#projectForm {
  @extend %flex-column;
  padding: 1rem;
  gap: 1rem;
  .input-wrapper {
    @extend %flex-column;
    gap: 0.5rem;
  }

  .coordinate-wrapper{
    @extend %flex-row;
    align-items: center;
    gap: 1rem;
  }
}


#list-wrapper{
  @extend %flex-column;

}

.project-item{
  @extend %flex-row;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 100%;
  background: hotpink;  

  .menu{
    @extend %flex-row;
    gap: 0.5rem;
    button{
      margin-top: 0;
    }
  }
}