*{
  padding :0;
  margin: 0;
}

#map {
position: absolute; 

top: 0;
bottom: 0;
left: 0;
right: 0;

z-index: -1;
}

$mainColor : #ffbe98 ;
$secondColor : #fea347 ;


body{
  background: $mainColor;
  height: 100vh;
}
.logo-container{
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;

}
.logo-aqd {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  
}
.global-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.text-description{
  width: 40%;
  height: auto;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 0 10px grey;
  background: $secondColor;
  justify-self: flex-start;

    img{
      width: 100%;
      margin-bottom: 1rem;
    }
    p{
      font-family: Arial, Helvetica, sans-serif;
      padding: 1rem;

    }
  }
  .social-media{
    margin: 2rem;
    border-radius: 9999px;
    box-shadow: 0 0 10px $secondColor;
     
      .fa {
        padding: 20px;
        font-size: 30px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
      }
      .fa:visited {
        color: initial;
      }
    
  }


