@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  top: 5rem;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

#navbar {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  top: 0;
  background: black;
  color: white;
  width: 100%;
  height: 5rem;
  background: #f8f2e8;
  border-radius: 0 0 2rem 2rem;
}
#navbar #nav-list {
  display: flex;
  gap: 3rem;
  line-height: 5rem;
  text-decoration: none;
}
#navbar #nav-list a {
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  color: #b06141;
  text-decoration: none;
  transition: all 300ms ease-in-out;
  cursor: pointer;
}
#navbar a:hover {
  transform: translate(0, -2.5%);
}
#navbar #logo-container {
  position: absolute;
  top: 0;
  left: 0;
}
#navbar #logo-container img {
  width: 5rem;
  border-radius: 50%;
}

#ask-house {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 5000;
  background: #f6ac62;
  padding: 0.5rem 1rem;
  margin: 1rem;
  margin-bottom: 2rem;
  border-radius: 99999px;
  border: none;
  font-size: 18px;
  filter: drop-shadow(0 0 12px rgb(87, 79, 79));
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

#ask-house:hover {
  background: rgba(254, 163, 71, 0.7176470588);
  scale: 1.1;
}

#modal {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #f8f2e8;
  padding: 2rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
  border-radius: 1rem;
  filter: drop-shadow(0 0 12px black);
  z-index: 9000;
  transition: opacity 300ms ease-in-out;
}
#modal #modal-content {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
#modal #modal-content #modal-close-button {
  display: flex;
  position: absolute;
  right: 1rem;
  height: 1rem;
  top: 1rem;
  transition: all 300ms ease-in-out;
}
#modal #modal-content #modal-close-button:hover {
  scale: 1.1;
}
#modal #request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#modal #request-form span {
  display: block;
  position: absolute;
  top: 1rem;
  margin: 1rem;
}
#modal #request-form .input-wrapper {
  display: flex;
  width: 100%;
  gap: 1rem;
  align-items: center;
}
#modal #request-form .input-wrapper:nth-child(1) {
  margin-top: 1.5rem;
}
#modal #request-form .input-wrapper input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}
#modal #request-form .input-wrapper textarea {
  resize: none;
}
#modal #request-form .input-wrapper-col {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
#modal #request-form button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #f6ac62;
  border: none;
  filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.34));
  margin-top: 1rem;
  transition: all 300ms ease-in-out;
}
#modal #request-form button:hover {
  scale: 1.1;
}

.hidden-modal {
  display: none;
}

#modal.show-modal {
  position: absolute;
  display: flex;
}

.modal-opacity-on {
  opacity: 1;
}

.modal-opacity-off {
  opacity: 0;
}

#popUp {
  display: flex;
  flex-direction: column;
  max-width: 66.6%;
  height: 97vh;
  background: #f8f2e8;
  box-shadow: 0 0 16px 8px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  gap: 1rem;
  z-index: 999999;
  overflow: hidden;
  transition: left 500ms cubic-bezier(1, -0.13, 0.63, 0.83);
}
#popUp .header {
  display: flex;
  justify-content: space-between;
}
#popUp .header .nav {
  display: flex;
  gap: 0.25rem;
}
#popUp .header .close-button {
  cursor: pointer;
}
#popUp .address {
  color: #b06141;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 3rem;
}
#popUp .content {
  margin-top: 10rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: nowrap;
}
#popUp .content .img-container {
  height: 390px;
  max-width: 260px;
  position: relative;
  left: 1.5rem;
}
#popUp .content .img-container img {
  height: 300px;
  max-width: 200px;
  object-fit: cover;
  border: 1rem solid white;
  filter: drop-shadow(0 0 8px);
  transition: all 300ms ease-in-out;
}
#popUp .content .img-container:hover img {
  filter: blur(0.1rem);
}
#popUp .content .img-container #popup-show-more {
  position: absolute;
  top: 55%;
  left: 20%;
  visibility: hidden;
  font-family: "Dancing Script", cursive;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  user-select: none;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
#popUp .content .img-container:hover #popup-show-more {
  transform: scale(1.1);
  visibility: visible;
  filter: drop-shadow(0 0 22px white);
}
#popUp .content .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem;
}
#popUp .content .text-container .divider {
  height: 0.25rem;
  width: 15%;
  background: #000;
}

.hidden-popup {
  position: absolute;
  left: -1000%;
  top: 0;
}

.show-popup {
  position: absolute;
  left: 0;
  top: 0;
}

.social-media {
  margin: 2rem;
  border-radius: 9999px;
  box-shadow: 0 0 10px rgb(194, 190, 190);
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 20rem;
}
.social-media .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  flex-wrap: nowrap;
}
.social-media .fa:visited {
  color: initial;
}

#modal-snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  border-radius: 9999px;
  color: #fff;
  text-align: center;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 400;
  left: 50%;
  bottom: 30px;
  filter: drop-shadow(0 0 18px rgba(10, 70, 10, 0.83));
}
#modal-snackbar p {
  font-size: 1.5rem;
  font-family: "Dancing Script", cursive;
}

#modal-snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}
@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
