
%flex-row{
  display: flex;
  flex-direction: row;
}

%flex-column{
  display: flex;
  flex-direction: column;
}

body {
  @extend %flex-column;
  gap: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

#content {
  height: 30rem;
  width: 100%;
  background: red;
}

#map {
  height: 30rem;
  width: 100%;
}

#projectForm {
  @extend %flex-column;
  .input-wrapper {
    @extend %flex-column;
  }
}
